.randomPlacement {
    padding: 24px;

    main {
        display: block;
        position: relative;
        width: 400px;
        height: 400px;
        outline: dashed black 2px;
        outline-offset: 20px;
        margin: 20px;
    }
     
    .block {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        border: 2px solid;
    }
    
    .comparison  {
        display: flex;
    }
    
    .comparison > * {
        margin-right: 10px;
    }
}